<mat-card>
  <mat-card-content>
    <div class="container center-container">
      <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" class="form-signin">
        <h2 class="form-heading">Welcome back!</h2>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <mat-error>
            <span>{{messages}}</span>
          </mat-error>
          <label class="from-note">Email</label> <input
          name="email" type="email" class="form-control" [(ngModel)]="users.email" #username="ngModel" required/> <label
          class="from-note">Password</label>
          <input name="password" type="password" class="form-control" [(ngModel)]="users.password" #password="ngModel"
                 required/>
          <mat-error *ngIf="f.submitted && !password.valid && !username.valid">
            <span>{{error}}</span>
          </mat-error>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Log
            In
          </button>
          <h4 class="text-center">
            <a routerLink="/register">Create an account</a>
          </h4>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
