.from-note {
  margin-top: 5px;
  color: #72767d;
}

.layout-tool {
  display: inline-block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  padding: 0 4px;
}

.form-left {
  margin-left: 4px;
}

.friend {
  display: inline-flex;
  margin-bottom: 5px;
  margin-top: 5px;
}

.activeChatScreen {
  background-color: #393c42;
  border-radius: 5px;
}

.activeUser {
  color: #f6f6f7;
}

.tool-icon {
  font-size: 16px;
}

.fa, .far, .fas {
  font-size: 18px;
  margin-right: 5px;
  margin-left: 5px;
  color: #72767d;
}
