<div class="form-left">
  <div class="layout-tool">
    <a class="tool-icon" routerLink="activity"><i class="fas fa-gamepad"></i><label
      class="from-note">Activity</label></a>
  </div>
  <div class="layout-tool">
    <a class="tool-icon" routerLink="library"><i
      class="fas fa-book"></i><label class="from-note">Library</label></a>
  </div>
  <div class="layout-tool">
    <a class="tool-icon" routerLink="news"><i
      class="far fa-newspaper"></i><label class="from-note">
      News</label></a>
  </div>
  <div class="layout-tool">
    <a class="tool-icon" routerLink="friend"><i
      class="far fa-address-book"></i><label class="from-note">Friend</label></a>
  </div>
  <label class="from-note">Direct Messages</label>
  <div class="friend-list" id="friend-list">
    <div *ngFor="let user of dataFriend">
      <div class="layout-tool" routerLink="{{user.friendresult.groupid}}" [routerLinkActive]="'activeChatScreen'">
        <label class="from-note friends" [routerLinkActive]="'activeUser'">{{user.result.email}}</label>
      </div>
    </div>
  </div>
</div>
