<div *ngFor="let data of dataFriend">
  <div class="friend">
    <div class="friend-name">
      {{data.email}}
    </div>
    <div>#{{data.id}}</div>
    <div class="friend-button">
      <button class="btn btn-sm btn-primary btn-block setfriend" type="button" (click)="SendGetFriend($event)"
              [attr.dataId]="data.id"> Send Friend Request
      </button>
    </div>
  </div>
</div>
