.friend-button {
  width: 100%;
}

.setfriend {
  width: auto !important;
  float: right;
}

.friend {
  display: inline-flex;
  margin: 10px 5px;
  width: 400px;
}

.btn-primary {
  background-color: #677bc4;
  border-color: #677cc4;
}
