.footer-chat {
  height: 101px;
  flex-grow: 1;
}

.form-footer {
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #36393f;
  margin: 5px 0;
}

.main-footer {
  margin-bottom: 20px;
  padding-top: 20px;
  width: 100%;
}

.data-file {
  display: flex;
  background-color: #474B52;
  border-radius: 10px;
}

.icon-upload {
  margin: auto 7px;
}

.fa, .far, .fas {
  font-size: 18px;
  margin-right: 5px;
  margin-left: 5px;
  color: #72767d;
}

.data_input {
  color: rgba(255, 255, 255, 0.88);
  line-height: 30px;
  padding: 10px;
  border: 0;
  background: #474B52 none;
  border-radius: 10px;
  width: 100%;
}

.fileInput, .file {
  display: none !important;
}

.layout-Messages {
  display: inline-block;
  width: max-content;
  font-size: 16px;
  margin: 8px 0 8px 60px;
}

.from-note {
  margin-top: 5px;
  color: #72767d;
}

.messages {
  color: white;
}

.message-list {
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
  contain: layout size;
  flex-grow: 0;
}

.data-Messages {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.filePreView {
  display: inline-block;
  padding: 0 5px;
}
