<div class="data-Messages">
  <div class="message-list" #scrollBottom [scrollTop]="scrollTop" (scroll)="ScrollTop($event)">
    <div *ngFor="let messages of ListMessages">
      <div class="layout-Messages">
        <label class="from-note">
          {{messages.userchats}}
        </label>
        <div class="messages">
          {{messages.session}}
        </div>
        <div class="messages" *ngIf="messages.sessionimage">
          <img src="src/main/webapp/resources/image/MessageImage/{{messages.sessionimage}}">
        </div>
        <div class="messageBorder">
        </div>
      </div>
    </div>
    <div *ngFor="let messageNext of socketService.MessageNext">
      <div class="layout-Messages">
        <label class="from-note">
          {{messageNext.userchats}}
        </label>
        <div class="messages" *ngIf="messageNext.session">
          {{messageNext.session}}
        </div>
        <div class="messages" *ngIf="messageNext.sessionimage">
          {{messageNext.sessionimage}}
        </div>
        <div class="messageBorder">
        </div>
      </div>
    </div>
  </div>
  <div class="footer-chat">
    <form class="form-footer">
      <div class="main-footer">
        <div class="data-file" appImageInside (sessionImage)="addImageUpload($event)">
          <div class="icon-upload">
            <i class="fas fa-inbox upload" id="matchbox" (click)="fileImage.click()"></i> <input
            type="file" #fileImage id="fileImage" class="fileInput" (change)="clickFileImage(fileImage)">
          </div>
          <input class="data_input" type="text" name="data" id="data" multiple [(ngModel)]="dataMessage"
                 (keyup.enter)="MessageChat()" (keypress)="Typing()" (keyup)="StopTyping()">
          <div class="icon-upload">
            <img alt="smile" src="assets/emoji/smile.png" height="34" width="34"/>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
