.server-speed {
  transition: opacity .1s linear;
}

.header-color-dark {
  font-weight: 500;
  text-align: center;
}

.header-color-dark {
  color: #f6f6f7;
}

.modal-set-channel {
  width: 100%;
  display: inline-flex;
}

.servername {
  color: white;
  margin-top: 10px;
  width: 150px;
  float: left;
}

.from-note {
  margin-top: 5px;
  color: #72767d;
}

.dark {
  background-color: #36393f;
}

.font-dark {
  width: 300px;
}

.input-server-find {
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  padding: 3px 5px;
  width: 300px;
  background-color: #303338;
  color: white;
  height: 36px;
  border-color: #222427;
  border-radius: 5px;
}

.footer-modal, .footer-modal-dark {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.footer-modal-dark {
  border-top: 1px solid #2f3136;
  background-color: #2f3136;
}

