<!-- Modal -->
<div class="server-speed" id="find-server"
     role="dialog">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content dark">
      <div class="modal-body">
        <h3 class="modal-title header-color-dark">FIND YOUR SERVER
          BY NAME</h3>
        <div class="modal-set-channel">
          <div class="font-dark">
            <label class="from-note">NAME SERVER</label> <input
            class="input-server-find" type="text" name="nameServer" [(ngModel)]="nameServer"
            id="servername">
          </div>
        </div>
      </div>
      <div class="modal-footer footer-modal-dark">
        <button type="submit" class="btn btn-primary findServer" (click)="findServer()">Save
          changes
        </button>
      </div>
    </div>
  </div>
</div>
