.server-speed {
  transition: opacity .1s linear;
}

.header-color {
  font-weight: 500;
  text-align: center;
}

.header-color {
  color: #7289da;
}

.from-note {
  margin-top: 5px;
  color: #72767d;
}

.small {
  font-size: 12px;
}

.modal-set-server {
  width: 100%;
  display: inline-flex;
}

.input-server {
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 1px;
  padding: 0 5px 5px;
  width: 300px;
}

.image-sever {
  text-align: center;
  width: 200px;
  height: 200px;
}

.userimage {
  width: 100px;
  height: 100px;
  background-color: #7289da;
  border-radius: 100%;
}

.file {
  display: none !important;
}

.footer-modal {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.footer-modal {
  border-top: 1px solid #f6f6f7;
  background-color: #f6f6f7;
}
