<!-- Modal -->
<div class="server-speed" id="set-server">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="modal-title header-color">CREATE YOUR SERVER</h3>
        <label class="from-note small">Make your best server to
          have fun with another friend </label>
        <div class="modal-set-server">
          <div>
            <label class="from-note">NAME SERVER</label> <input
            class="input-server" type="text" name="nameServer" [(ngModel)]="nameServer"
            id="nameserver">
          </div>
          <div class="image-sever" id="serverinfo">
            <img src="" class="userimage" alt="">
            <input class="file image" type="file">
          </div>
        </div>
      </div>
      <div class="modal-footer footer-modal">
        <button type="submit" class="btn btn-primary saveServer" (click)="SetServer()">Save
          changes
        </button>
      </div>
    </div>
  </div>
</div>
