/* You can add global styles to this file, and also import other style files */

html, body {
  padding: 0;
  background-color: #36393f;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card:not([class*="mat-elevation-z"]){
  box-shadow: none;
}
.mat-card{
  border-radius:0 !important;
}
.mat-dialog-container{
  box-shadow: none !important;
  background: none !important;
}
