<div class="container-view">
  <div class="home-sever">
    <div class="col-12 col-md-3 col-xl-1 bd-sizebar">
      <div class="card-body contacts_body">
        <div class="icon-home">
          <div class="img_cont">
            <a routerLink="@me"><i
              class="fab fa-phoenix-framework phoenix-home"></i></a>
          </div>n
        </div>
      </div>
      <div *ngFor="let server of Server">
        <div class="card-body contacts_body">
          <div class="d-flex bd-highlight">
            <div class="img_cont">
              <a routerLink="channel/{{server.serverid}}/{{server.rulechannel}}"> <img
                class="user_img"
                src="assets/serverImage/{{server.serverimage}}"
                alt="" aria-hidden="true" width="48" height="48">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="icon-home add-new">
        <div class="img_cont">
          <a data-toggle="modal" data-target="#set-server" (click)="openSetServer()"> <i
            class="add-server newserver fas fa-plus"></i>
          </a>
        </div>
      </div>
      <div class="icon-home">
        <div class="img_cont">
          <a data-toggle="modal" data-target="#find-server" (click)="openFindServer()"> <i
            class="find-server add-server newserver fas fa-search"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="reading-data">
    <div class="home-info">
      <div class="user-tool">
        <div class="list-info"></div>
        <router-outlet name="list"></router-outlet>
        <footer>
          <div class="footer-content">
            <h6 class="edits-form">
              Welcome <a class="edits-form">{{ currentUser.email }}</a> | <a (click)="logout()">Logout</a>
            </h6>
          </div>
        </footer>
      </div>
    </div>
    <div class="container-base">
      <div class="toolkit header">
        <div class="bar-icon"><i class="fas fa-user-friends tool-icon-header" (click)="drawer.toggle()"></i></div>
        <form class="bd-search d-flex align-items-center search-form" id="frmSearch">
          <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
              <input class="search_input" type="text" name="email" id="search"
                     placeholder="Search..." [(ngModel)]="dataSearchFriend"
                     (keyup)="SearchResult(dataSearchFriend)">
              <a class="search_icon"><i class="fas fa-search" (click)="SearchResult(dataSearchFriend)"></i></a>
            </div>
          </div>
          <button
            class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3"
            type="button" data-toggle="collapse" data-target="#bd-docs-nav"
            aria-controls="bd-docs-nav" aria-expanded="false"
            aria-label="Toggle docs navigation"></button>
        </form>
      </div>
      <mat-drawer-container class="mainData" autosize>
        <mat-drawer class="sizeBar-Control" position="end" #drawer mode="side">
        </mat-drawer>
        <mat-drawer-content class="fromData">
          <div class="main-form">
            <div class="main-focus">
              <div *ngIf="searchData">
                <app-search-result [friendName]=dataSearchFriend></app-search-result>
              </div>
              <router-outlet></router-outlet>
            </div>
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
