.container-view {
  position: relative;
  display: flex;
}

.searchbar {
  top: 5px;
  margin-bottom: auto;
  margin-top: auto;
  height: 30px;
  background-color: #353b48;
  border-radius: 15px;
  padding: 5px;
  display: inline-block;
  float: right;
  position: relative;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 50px;
  caret-color: transparent;
  line-height: 10px;
  transition: width 0.22s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 180px;
  caret-color: red;
  transition: width 0.18s linear;
}

.searchbar:hover > .search_icon {
  background: #353b48;
  color: #818182;
}

.search_icon {
  height: 20px;
  width: 20px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

.setfriend {
  width: auto !important;
  float: right;
}

#searchmatchemail {
  display: inline-grid;
}

.header-color, .header-color-dark {
  font-weight: 500;
  text-align: center;
}

.header-color {
  color: #7289da;
}

.small {
  font-size: 12px;
}

.friend-button {
  width: 100%;
}

.phoenix-home {
  font-size: 39px;
  border-radius: 36%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #7289da;
  color: white;
  height: 48px;
  width: 48px;
}

.add-server {
  height: 48px;
  width: 48px;
  text-align: center;
  margin-right: 0 !important;
  margin-left: 0 !important;
  border-radius: 100%;
  background-color: #36393f;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #48a868 !important;
  padding-top: 16px;
}

.from-note {
  margin-top: 5px;
  color: #72767d;
}

.footer-content, .toolkit {
  background-color: #232629;
  color: #72767d;
}

.toolkit, .list-info {
  height: 40px;
  border-bottom-width: 1px;
  border-bottom-style: ridge;
}

.toolkit {
  width: 100%;
  flex-grow: 0;
}

.footer-content {
  position: absolute;
  bottom: 0;
}

.main-footer {
  margin-bottom: 30px;
  padding-top: 20px;
  border-top-width: 1px;
  border-top-style: ridge;
  width: 100%;
}

.form-footer {
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #36393f;
}

.base-container {
  padding: 0;
  display: flex;
}

.reading-data {
  position: relative;
  display: flex;
}

.reading-data, .base-container {
  width: 100%;
  height: auto;
}

.home-sever {
  width: 75px;
  height: 100vh;
  background-color: #202225;
  float: left;
}

.home-info {
  width: 240px;
  padding-right: 17px;
  height: 100vh;
  background-color: #292b2f;
  float: left;
  position: relative;
}

.user_img {
  border-radius: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.layout-icon {
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

.status, .friend-status, .data-info {
  overflow: auto;
  display: inline-flex !important;
  color: #72767d;
}

.friend-status {
  float: right;
  text-align: left;
  width: 80%;
}

.status {
  border-right-width: 1px;
  border-right-style: ridge;
  width: 220px;
}

.friend-info {
  border-bottom-width: 1px;
  border-bottom-style: ridge;
  padding: 8px 30px;
}

.data-info {
  padding: 8px 30px;
}

.layout-tool, .layout-edits {
  display: inline-block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
}

.user-tool {

}

.data_input {
  color: white;
  line-height: 30px;
  padding: 10px;
  border: 0;
  background: #474B52 none;
  border-radius: 10px;
  width: 100%;
}

.id-user {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tool-icon {
  font-size: 16px;
}

.messages {
  color: white;
}

.messageborder {
  border-color: #72767d;
  border-bottom-width: 1px;
  border-bottom-style: ridge;
}

.imagemessages {
  width: 400px;
  height: 225px;
  margin-bottom: 4px;
}

.User-image {
  width: 100px;
  height: 100px;
}

.edits-form {
  color: #72767d;
  text-decoration: none;
}

.edits-form:hover {
  color: #72767d;
  text-decoration: none;
}

.data-file {
  display: flex;
  background-color: #474B52;
  border-radius: 10px;
}

.icon-upload {
  margin: auto 7px;
}

.upload {
  color: #8e9297;
  margin-left: 5px;
}

.fileinput, .file {
  display: none !important;
}

.data-file {
  display: flex;
  background-color: #474B52;
  border-radius: 10px;
}

.input-server {
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 1px;
  padding: 0 5px 5px;
  width: 300px;
}

.input-channel {
  border-width: 1px;
  padding: 3px 5px;
  width: 300px;
  background-color: #303338;
  color: white;
  height: 36px;
  border-color: #222427;
  border-radius: 5px;
}

.image-sever {
  text-align: center;
  width: 200px;
  height: 200px;
}

.userimage {
  width: 100px;
  height: 100px;
  background-color: #7289da;
  border-radius: 100%;
}

.modal-set-server, .modal-set-channel {
  width: 100%;
  display: inline-flex;
}

.server-speed {
  transition: opacity .1s linear;
}

.footer-modal, .footer-modal-dark {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.servername {
  color: white;
  margin-top: 10px;
  width: 150px;
  float: left;
}

.server-list {
  text-align: center;
}

.listchannel {
  font-size: 14px;
}

.detail {
  margin-left: 10px;
  width: 100%;
}

.detail-channel {
  font-size: 15px !important;
}

.setting {
  font-size: 14px !important;
  width: 20px;
}

.drop-setting {
  left: 50px;
  top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.open > .dropdown-menu {
  background-color: #202225;
  border-radius: 8px;
}

.channel, .addnewRoleUser {
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 5px;
}

.channel {
  background-color: #292b2f;
}

.addnewRoleUser {
  background-color: #36393f;
}

.edits-note {
  padding-left: 5px;
  padding-right: 5px;
}

.footer-modal {
  border-top: 1px solid #f6f6f7;
  background-color: #f6f6f7;
}

.footer-modal-dark {
  border-top: 1px solid #2f3136;
  background-color: #2f3136;
}

.header-color-dark {
  color: #f6f6f7;
}

.dark {
  background-color: #36393f;
}

.font-dark {
  width: 300px;
}

.all-members {
  display: flex;
}

#number-member {
  margin-right: 5px;
  margin-left: 5px;
}

.setchannelid {
  display: none;
}

.visson-role {
  width: 100%;
}

.role {
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 2px;
}

.new-role {
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.save-file {
  right: 25px;
  border-color: #36393f;
  width: 80%;
  bottom: 20px;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
}

.color, .color-reset {
  color: white;
  font-weight: 500;
  margin-right: 10px;
  margin-left: 10px;
}

.color {
  background-color: #48b37b;
}

.color-reset {
  background-color: #232629;
}

.list-role {
  display: grid;
  padding-left: 8px;
  padding-right: 8px;
}

.list-members {
  display: grid;
}

.userprofile {
  display: inline-flex;
  padding-top: 5px;
  padding-bottom: 5px;
}

.profileuser {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

.memberrole {
  width: 600px;
  text-align: center;
}

.userrole {
  padding-right: 5px;
  padding-left: 5px;
}

.setrole {
  left: 430px;
  padding-left: 6px;
  height: 100px;
  width: 200px;
}

.setrolemember {
  background-color: #36393f;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 6px;
}

.findrole {
  border-width: 0;
  border-style: solid;
  color: white;
  border-radius: 6px;
  background-color: #36393f;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

.listrolemember {
  display: grid;
}

.search-form {
  float: right;
  padding: 0 5px;
}

.container-base {
  height: 100vh;
  width: 100%;
  background-color: #36393f;
  display: flex;
  flex-direction: column;
}

.card-body {
  padding: 5px 0;
}

.tool-icon-header {
  font-size: 20px;
  color: #72767d;
  margin: 10px;
  float: right;
}

.sizeBar-Control {
  position: fixed;
  right: 0;
  height: 100%;
  background-color: rgb(41, 43, 47);
  min-width: 0;
  top: 40px;
  width: 240px;
}

.mainData {
  width: 100%;
  background-color: #36393f;
  color: #72767d;
  flex-grow: 1;
}

.mat-drawer-content {
  height: auto;
}

h6 {
  font-size: 0.9375rem;
}

.form-left {
  margin-left: 4px;
}

.fa, .far, .fas {
  font-size: 18px;
  margin-right: 5px;
  margin-left: 5px;
  color: #72767d;
}

.fromData {
  height: 100%;
}
