<div class="data-Messages">
  <div class="message-list">
    <div *ngFor="let messages of ListMessages">
      <div class="layout-Messages">
        <label class="from-note">
          {{messages.userchats}}
        </label>
        <div class="messages">
          {{messages.session}}
        </div>
        <div class="messageBorder">
        </div>
      </div>
    </div>
  </div>
  <div class="footer-chat">
    <form class="form-footer">
      <div class="main-footer">
        <div class="data-file">
          <div class="icon-upload">
            <i class="fas fa-inbox upload" id="matchbox"></i> <input
            type="file" id="file" class="fileInput">
          </div>
          <input class="data_input" type="text" name="data" id="data">
          <div class="icon-upload">
            <img src="assets/emoji/smile.png" height="34" width="34"/>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
