.from-note {
  margin-top: 5px;
  color: #72767d;
}

.detail {
  margin-left: 10px;
  width: 100%;
}

.detail-channel {
  font-size: 15px;
}

.fa, .far, .fas {
  font-size: 18px;
  margin-right: 5px;
  margin-left: 5px;
  color: #72767d;
}
