<div *ngFor="let channel of ListChannel">
  <div class="from-note detail" routerLink="{{channel.channelid}}">
    <i class="fas fa-hashtag detail-channel"></i>
    {{channel.namechannel}}
  </div>
</div>
