<mat-card>
  <mat-card-content>
    <div class="container center-container">
      <form method="post" (ngSubmit)="f.form.valid && register()" #f="ngForm" class="form-signin">
        <h2 class="form-signin-heading">Create your account</h2>
        <label class="from-note">Email</label>
        <div class="form-group" [ngClass]=" {'has-error': f.submitted}">
          <input type="email" [(ngModel)]="user.email" class="form-control" name="email"
                 autofocus="autofocus" required/>
          <mat-error></mat-error>
        </div>
        <label class="from-note">Password</label>
        <div class="form-group">
          <input type="password" [(ngModel)]="user.password" name="password" class="form-control" required/>
          <mat-error></mat-error>
        </div>
        <label class="from-note">Confirm your password</label>
        <div class="form-group}">
          <input type="password" [(ngModel)]="user.passwordConfirm" name="passwordConfirm"
                 class="form-control" required/>
          <mat-error>{{error}}</mat-error>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        <h4 class="text-right">
          <a routerLink="/login">I already have account</a>
        </h4>
      </form>
    </div>
  </mat-card-content>
</mat-card>
