mat-card {
  margin: 2em auto;
}

mat-form-field {
  display: block;
}

.mat-card {
  background-color: #36393f;
}

.base-view {
  overflow: auto;
  display: flex;
  padding: 0;
  background-color: #36393f;
}

.has-error {
  color: red
}

.form-signin {
  max-width: 330px;
  padding: 0;
  margin: 0 auto;
}

.center-container {
  background-color: #202225;
  width: 480px;
  padding: 40px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 140px !important;
  margin-bottom: 40px;
}

.base-container {
  padding: 0;
  display: flex;
}

.reading-data {
  position: relative;
}

.reading-data, .base-container {
  width: 100%;
  height: auto;
}

.form-heading, .form-signin-heading {
  color: #fff;
  text-align: center;
}

.from-note {
  margin-top: 5px;
  color: #72767d;
}

.footer-content, .toolkit {
  background-color: #232629;
  color: #72767d;
}

.toolkit, .list-info {
  height: 40px;
  border-bottom-width: 1px;
  border-bottom-style: ridge;
}

.footer-content {
  position: absolute;
  bottom: 0;
}

.main-footer {
  margin-bottom: 30px;
  padding-top: 20px;
  border-top-width: 1px;
  border-top-style: ridge;
  width: 100%;
}

.form-footer {
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #36393f;
}

.list-info {
  width: 210.467px;
  position: absolute;
}

.home-sever {
  width: 75px;
  height: 100vh;
  background-color: #202225;
  float: left;
}

.home-info {
  width: 240px;
  padding-right: 17px;
  height: 100vh;
  background-color: #292b2f;
  float: left;
  position: relative;
}

.user_img {
  border-radius: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  color: #fff;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #242529;
  border-color: #72767d;
}

.form-signin button {
  margin-top: 10px;
  background-color: #677bc4;
  color: #fff;
}

.text-center a, .text-right a {
  color: #677bc4;
  text-decoration: none;
}

.text-right a {
  font-size: 12px;
}

.btn-primary {
  background-color: #677bc4;
  border-color: #677cc4;
}

.btn-primary:hover {
  border-color: #677cc4 !important;
  background-color: #677cc4 !important;
}

.btn-sm {
  margin-left: 10px;
}

.header-color, .header-color-dark {
  font-weight: 500;
  text-align: center;
}

.header-color {
  color: #7289da;
}

.small {
  font-size: 12px;
}
